<form class="toolbox flexcol" autocomplete="off">
  <div class="tab active datatoolbox">
    <p class="notes">{{localize "tb.toolboxNotes"}}</p>

    <div class="form-group">
      <label>{{localize "tb.sourceFile"}}</label>
      <div class="form-fields">              
        <button type="button" class="file-picker" data-type="text" data-target="source" title="{{localize "tb.browseFile"}}" tabindex="-1">
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input class="csv" type="text" name="source" placeholder="path/data.csv" value="{{source}}">
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "tb.templateFile"}}</label>
      <div class="form-fields">              
        <button type="button" class="file-picker" data-type="text" data-target="template" title="{{localize "tb.browseFile"}}" tabindex="-1">
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input class="json" type="text" name="template" placeholder="path/template.json" value="{{template}}">
      </div>
    </div>

    <div class="form-group">
        <label>{{localize "COMPENDIUM.Type"}}</label>
        <div class="form-fields">
            <select name="entity">
                {{selectOptions types nameAttr="value" selected=entitySelected labelAttr="label"}}
            </select>
        </div>
        <p class="notes">{{localize "COMPENDIUM.TypeHint"}}</p>
    </div>

    {{#if hasFolders}}
    <div class="form-group">
        <label>{{ localize "DOCUMENT.Folder" }}</label>
        <div class="form-fields">
            <select name="folder">
                {{selectOptions folders nameAttr="id" labelAttr="name" blank=""}}
            </select>
        </div>
    </div>
    {{/if}}
    
    <div class="form-group">
      <label>{{localize "tb.compendiumName"}}</label>
      <div class="form-fields">              
        <input class="compendium" type="text" name="compendium" placeholder="Toolbox Data" value="{{compendium}}">
      </div>
    </div>

    <hr>

    <div class="form-group">
      <button type="button" class="generate"><i class="fas fa-cogs"></i> {{localize "tb.generate"}}</button>
      <button type="button" class="cancel">{{localize "tb.cancel"}}</button>
    </div>

  </div>
</form>
