<form autocomplete="off" onsubmit="event.preventDefault();">
  <p><em>
    {{localize "tblc.reviewInfo"}}
    <a href="https://github.com/SvenWerlen/fvtt-data-toolbox/tree/master/doc/letscontribute">{{localize "tblc.submitReadMore"}}</a>.
  </em></p>
  {{#if error}}
  <div class="error">{{error}}</div>
  {{/if}}
  {{#unless error}}
  
  <nav class="sheet-tabs tabs">
    <a class="item {{#if newActive}}active{{/if}}" data-tab="new"><i class="fas fa-star"></i> {{localize "tblc.new"}}</a>
    <a class="item {{#if acceptedActive}}active{{/if}}" data-tab="accepted"><i class="fas fa-thumbs-up"></i> {{localize "tblc.accepted"}}</a>
    <a class="item {{#if rejectedActive}}active{{/if}}" data-tab="rejected"><i class="fas fa-thumbs-down"></i> {{localize "tblc.rejected"}}</a>
    <a class="item {{#if archivedActive}}active{{/if}}" data-tab="archived"><i class="fas fa-archive"></i> {{localize "tblc.archived"}}</a>
  </nav>
  
  <ol class="item-list">
    <li class="item flexrow" data-entry="all">
      <div class="selected">
        <a class="control select" title="{{localize "tblc.select"}}"><i class="far fa-square"></i></a>
      </div>
      
      <div class="name">
        <h4>{{localize "tblc.item"}}</h4>
      </div>
      
      <div class="type">
        <h4>{{localize "tblc.type"}}</h4>
      </div>
      
      <div class="system">
        <h4>{{localize "tblc.system"}}</h4>
      </div>
      
      <div class="compendium">
        <h4>{{localize "tblc.compendium"}}</h4>
      </div>

      <div class="author">
        <h4>{{localize "tblc.author"}}</h4>
      </div>
      
      <div class="initiative">
        <h4>{{localize "tblc.initiative"}}</h4>
      </div>
      
      <div class="controls">
        <h4>{{localize "tblc.actions"}}</h4>
      </div>
    </li>
    {{#unless entries.length}}
      <em>{{localize "tblc.noEntry"}}</em>
    {{/unless}}
    {{#each entries as |entry|}}
    <li class="item flexrow" data-entry="{{entry.id}}" data-name="{{entry.name}}" data-initiative="{{entry.initiativeId}}">
      <div class="selected">
        <a class="control select" title="{{localize "tblc.select"}}"><i class="far fa-square"></i></a>
      </div>
      
      <div class="name">
        {{entry.name}}
      </div>
      
      <div class="type">
        {{entry.type}}
      </div>
      
      <div class="system">
        {{entry.system}}
      </div>
      
      <div class="compendium">
        {{entry.compendium}}
      </div>
      
      <div class="author">
        {{#if entry.author}}
          {{entry.author}}
        {{/if}}
        {{#unless entry.author}}
          -
        {{/unless}}
      </div>
      
      <div class="initiative">
        {{#if entry.initiative}}
          {{entry.initiative}}
        {{/if}}
        {{#unless entry.initiative}}
          -
        {{/unless}}
      </div>
      
      <div class="controls">
        {{#if entry.found}}
        <a class="control compare" title="{{localize "tblc.actionCompare"}}">
          <i class="fas fa-not-equal"></i>
        </a>
        {{/if}}
        <a class="control import" title="{{localize "tblc.actionImport"}}">
          <i class="fas fa-download"></i>
        </a>
        <a class="control merge" title="{{localize "tblc.actionMerge"}}">
          <i class="fas fa-atlas"></i>
        </a>
        {{#unless ../acceptedActive}}
        <a class="control accept" title="{{localize "tblc.actionAccept"}}">
          <i class="fas fa-thumbs-up"></i>
        </a>
        {{/unless}}
        {{#unless ../rejectedActive}}
        <a class="control reject" title="{{localize "tblc.actionReject"}}">
          <i class="fas fa-thumbs-down"></i>
        </a>
        {{/unless}}
        <a class="control delete" title="{{localize "tblc.actionDelete"}}">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </li>
    {{/each}}
  </ol>
  <div class="actionsSelected flexrow">
    <p>{{localize "tblc.actionOnSelected"}}</p>
    <button class="dialog-button import" data-button="import" disabled>
      <i class="fas fa-download"></i>{{localize "tblc.import"}}
    </button>
    <button class="dialog-button accept" data-button="accept" disabled>
      <i class="fas fa-thumbs-up"></i>{{localize "tblc.accept"}}
    </button>
    <button class="dialog-button reject" data-button="reject" disabled>
      <i class="fas fa-thumbs-down"></i>{{localize "tblc.reject"}}
    </button>
    <button class="dialog-button delete" data-button="delete" disabled>
      <i class="fas fa-trash"></i>{{localize "tblc.delete"}}
    </button>
  </div>
  {{/unless}}
</form>
