<form autocomplete="off" onsubmit="event.preventDefault();">
  <p><em>
    {{localize "tblc.reviewInfo"}}
    <a href="https://github.com/SvenWerlen/fvtt-data-toolbox/tree/master/doc/letscontribute">{{localize "tblc.submitReadMore"}}</a>.
  </em></p>
  {{#if error}}
  <div class="error">{{error}}</div>
  {{/if}}
  {{#unless error}}
  <ol class="item-list">
    <li class="item flexrow" data-entry="all">
      <div class="selected">
        <a class="control select" title="{{localize "tblc.select"}}">
          {{#if allSelected}}
          <i class="far fa-check-square"></i>
          {{/if}}
          {{#unless allSelected}}
            <i class="far fa-square"></i>
          {{/unless}}
        </a>
      </div>
      
      <div class="name">
        <h4>{{localize "tblc.item"}}</h4>
      </div>
      
      <div class="type">
        <h4>{{localize "tblc.type"}}</h4>
      </div>
      
      <div class="system">
        <h4>{{localize "tblc.system"}}</h4>
      </div>
      
      <div class="compendium">
        <h4>{{localize "tblc.compendium"}}</h4>
      </div>

      <div class="author">
        <h4>{{localize "tblc.author"}}</h4>
      </div>
      
      <div class="initiative">
        <h4>{{localize "tblc.initiative"}}</h4>
      </div>
      
      <div class="controls">
        <h4>{{localize "tblc.actions"}}</h4>
      </div>
    </li>
    {{#each entries as |entry|}}
    <li class="item flexrow" data-entry="{{entry.id}}" data-name="{{entry.name}}" data-initiative="{{entry.initiativeId}}">
      <div class="selected">
        <a class="control select" title="{{localize "tblc.select"}}">
          {{#if entry.selected}}
            <i class="far fa-check-square"></i>
          {{/if}}
          {{#unless entry.selected}}
            <i class="far fa-square"></i>
          {{/unless}}
        </a>
      </div>
      
      <div class="name">
        {{entry.name}}
      </div>
      
      <div class="type">
        {{entry.type}}
      </div>
      
      <div class="system">
        {{entry.system}}
      </div>
      
      <div class="compendium">
        {{entry.compendium}}
      </div>
      
      <div class="author">
        {{#if entry.author}}
          {{entry.author}}
        {{/if}}
        {{#unless entry.author}}
          -
        {{/unless}}
      </div>
      
      <div class="initiative">
        {{#if entry.initiative}}
          {{entry.initiative}}
        {{/if}}
        {{#unless entry.initiative}}
          -
        {{/unless}}
      </div>
      
      <div class="controls">
        {{#if entry.found}}
        <a class="control compare" title="{{localize "tblc.actionCompare"}}">
          <i class="fas fa-not-equal"></i>
        </a>
        {{/if}}
        <a class="control import" title="{{localize "tblc.actionImport"}}">
          <i class="fas fa-download"></i>
        </a>
        {{#unless entry.found}}
        <a class="control merge" title="{{localize "tblc.actionMerge"}}">
          <i class="fas fa-atlas"></i>
        </a>
        {{/unless}}
        <a class="control accept" title="{{localize "tblc.actionAccept"}}">
          <i class="fas fa-thumbs-up"></i>
        </a>
        <a class="control reject" title="{{localize "tblc.actionReject"}}">
          <i class="fas fa-thumbs-down"></i>
        </a>
        <a class="control delete" title="{{localize "tblc.actionDelete"}}">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </li>
    {{/each}}
  </ol>
  <div class="actionsSelected flexrow">
    <p>{{localize "tblc.actionOnSelected"}}</p>
    <button class="dialog-button import" data-button="import" {{ batchStatus }}>
      <i class="fas fa-download"></i>{{localize "tblc.import"}}
    </button>
    <button class="dialog-button accept" data-button="accept" {{ batchStatus }}>
      <i class="fas fa-thumbs-up"></i>{{localize "tblc.accept"}}
    </button>
    <button class="dialog-button reject" data-button="reject" {{ batchStatus }}>
      <i class="fas fa-thumbs-down"></i>{{localize "tblc.reject"}}
    </button>
    <button class="dialog-button delete" data-button="delete" {{ batchStatus }}>
      <i class="fas fa-trash"></i>{{localize "tblc.delete"}}
    </button>
  </div>
  {{/unless}}
</form>
