<form>
  <p><em>
    {{localize "tblc.submitInfo"}}
    <a href="https://github.com/SvenWerlen/fvtt-data-toolbox/tree/master/doc/letscontribute">{{localize "tblc.submitReadMore"}}</a>.
  </em></p>
  <div class="form-group">
    <label><b>{{localize "tblc.item"}}</b></label>
    <label>{{entity.name}}</label>
  </div>
  <div class="form-group">
    <label><b>{{localize "tblc.compendium"}}</b></label>
    <label>{{compendium.metadata.label}} <em>({{compendium.collection}})</em></label>
  </div>
  <div class="form-group">
    <label><b>{{localize "tblc.system"}}</b></label>
    <label>{{system.data.title}} <em>({{system.id}})</em></label>
  </div>
  <div class="form-group">
    <label><b>{{localize "tblc.initiative"}}</b></label>
    <label>
    <select name="selInitiative" class="initiative">
      {{#select selInitiative}}     
      <option value="0">{{localize "tblc.noInitiative"}}</option>
      {{#each initiatives}}
      <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
      {{/select}}
    </select>
    <br/>
    <div id="iniDescription" class="description {{initiativeWarning}}">
      {{initiativeDescription}}
    </div>
    </label>
  </div>
  <div class="form-group">
    <label><b>{{localize "tblc.author"}}</b></label>
    <label>
      <input class="author" type="text" name="author" placeholder="{{localize "tblc.authorPlaceHolder"}}" value="{{author}}" maxLength="30" />
      <i class="help-icon fas fa-info-circle" title="{{localize "tblc.authorDescription"}}"></i>
    </label>
  </div>
  {{#if noReviewer}}
  <div class="form-group warning">
    {{localize "tblc.noReviewer"}}
  </div>
  {{/if}}
  <div class="form-group">
    <button class="dialog-button" data-button="submit">
      <i class="fas fa-check"></i>{{localize "tblc.understandAndSubmit"}}
    </button>
  </div>
</form>
